

<div class="displayOptionContent" *ngIf="this.worldChampionList && !detailSelectionMade">
    <div class="row" *ngIf="displayStyle === 'card'">
        <!-- This Component Displays the data in Card Format -->
        <app-cards-display (yearRaceDetailRequestedEvent)="yearRaceDetailRequested($event)" [worldChampionList]="worldChampionList"></app-cards-display>
    </div>
    <div class="row" *ngIf="displayStyle === 'list'">
        <!-- This component displays data in list/expansion panel format -->
        <app-expansion-panels-display (yearRaceDetailRequestedEvent)="yearRaceDetailRequested($event)" 
        [worldChampionList]="worldChampionList"></app-expansion-panels-display>
    </div>
</div>
<div class="row displayDetailContent raceDetailTopMargin" *ngIf="detailSelectionMade">
    <div class="col">
      <!-- This component displays the Race Detail for a specific year. Only becomes visible after selection is made from Card -->
        <app-race-detail (navigateBackEvent)="navigateBackEventClicked($event)" [yearRaceData]="yearRaceData" 
        [worldChampionWinnerModel]="worldChampionWinnerModel"></app-race-detail>
    </div>
</div>