<div class="panelsContainer">
    <div class="row instructionsContainer">
        <h2>Please select a year</h2>
        <h3>Click on any of the rows below to get more detail about the relevant year</h3>
      </div>
    <div class="row" *ngIf="this.worldChampionList">
      <div *ngFor="let winner of this.worldChampionList.MRData.StandingsTable.StandingsLists; let i = index" class="col-md-12">
        <!-- This expantion panel component generates a expansion panel for each year datapoint -->
        <app-expansion-panel (yearRaceDetailRequested)="yearRaceDetailRequested($event)" [winner]="winner"></app-expansion-panel>
      </div>
    </div>
</div>