/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

$primaryColor: #E80002;
$secondaryColor: #212121;
$secondaryColorHovered: #3d3d3d;


$primaryHeadingFontSize: 22px;
$headingFontWeight: 500;

@mixin primaryHeadingFontStyle{
    font-size: $primaryHeadingFontSize !important;
    font-weight: $headingFontWeight !important;
}

h1{
    @include primaryHeadingFontStyle
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-expansion-panel-header.mat-expanded{
    background-color: #e3e3e3 !important;
}
.mat-expansion-panel-body{
    padding: 30px !important;
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: $secondaryColor;
    /* stroke: #E70003; */
}
.btn-primary{
    background-color: $secondaryColor;
    border-color: $secondaryColor;
    /* background-color: #E70003;
    border-color: #E70003; */
}
.btn-primary:hover{
    background-color: $secondaryColorHovered;
    border-color: $secondaryColorHovered;
    /* background-color: #ff2628;
    border-color: #ff2628; */
}



